::-webkit-scrollbar-thumb {
  background-color: #c62828;
}

nav a, nav button, header {
  background: #c62828;
}

footer {
  background: #c62828;
}


main li:nth-child(1) svg { background: #4a4a4a; }
main li:nth-child(2) svg { background: #D14836; }
main li:nth-child(3) svg { background: #181717; }
main li:nth-child(4) svg { background: #0077B5; }
main li:nth-child(5) svg { background: #1DA1F2; }

main ul {
  list-style: none;
  padding: 0;
}
