@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');

/*
================================================================================================================================
||                                                                                                                            ||
||                                                     G E N E R A L                                                          ||
||                                                                                                                            ||
================================================================================================================================
*/

/* Limited use of * selector to keep everything consistent */
* {box-sizing: border-box; position: relative;}

html, body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	max-width: 100%;
	overflow-x: hidden;
	background-color: #f5f5f5;
	font-family: "Open Sans", Roboto, "Helvetica Neue", Arial, sans-serif;
}
#scrollWrap {
	position: relative;
	height: 100vh;
	width: 100vw;
	overflow-x: hidden;
	z-index: 3;
}

h1, h2 {
	font-weight: 300;
}
h3, .button {
	font-weight: 400;
}

/* Link styling, using a border rather than an underline */
a {
  color: #4D88C9;
  border-bottom: .08em solid rgba(0,0,0,.1);
  text-decoration: none;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

a:hover, a:visited, a:focus {
  border-bottom: .08em solid #4D88C9;
}

a:active {
  -webkit-transition: 0s;
  transition: 0s;
  color: #e73C3C;
  border-bottom: .08em solid #e73C3C;
}

@media screen and (max-width: 800px) {html, body{font-size: 90%;}}

.container {
	margin: 0 auto;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 576px) {
	.container {
		width: 540px;
	}
}
@media (min-width: 768px) {
	.container {
		width: 720px;
	}
}
@media (min-width: 992px) {
	.container {
		width: 960px;
	}
}
@media (min-width: 1200px) {
	.container {
		width: 1140px;
	}
}

.hidden {display: none !important}

.button {
	display: inline-block;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    padding: .75rem 1.5rem;
    font-size: 1.25rem;
    border-radius: .3rem;
    text-decoration: none;
}



/*
================================================================================================================================
||                                                                                                                            ||
||                                                         N A V                                                              ||
||                                                                                                                            ||
================================================================================================================================
*/
nav {
	position: fixed;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 2;
	transition: background .25s, box-shadow .25s;
}
nav.lightBackground {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

nav a {
	display: inline-block;
	padding: .75rem 1rem;
	color: white !important;
	font-size: 1.2rem;
	line-height: 1;
	font-weight: 400;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: .03rem;
	border-bottom: none !important;
	transition: color 1s;
}
@media (max-width: 550px) {
	nav {
		width: 100%;
		border-radius: 0 !important;
		padding: 0 .33rem;
	}
	nav a {
		padding: 1rem .75rem;
	}
}
nav.lightBackground a {
	color: #4D88C9 !important;
}

/* This is how the fancy triangle hover effect is created */
nav a:before {
	position: absolute;
	top: -10px; /* It starts above the frame */
	left: 50%; /* In the center */
	width: 0;
	height: 0;
	content: '';
	border-left: .65rem solid transparent; /* These three borders makes the triangle */
	border-right: .65rem solid transparent;
	border-top: .65rem solid #fff;
	transition: 0.2s;
}

nav.lightBackground a:before {
	border-top: .65rem solid #4D88C9;
}
/* When hovered over, activated etc. the triangle must be brought down, to just under the top of the link */
nav a:hover:before, nav a:focus:before {
	top: 0;
}


#social {
	position: fixed;
	top: 25%;
	width: 3rem;
	transform: translateY(-50%);
	left: 100%;
	z-index: 4;
	transition: top 1.5s, transform 1.5s;
}

#social a {
	display: inline-block;
	border: 0;
}

#social svg {
	display: inline-block;
	width: 3rem;
	height: 3rem;
	transition: opacity 1s, background .33s;
}

#social path {
	transition: .33s;
}
#social a:hover path {
	fill: #eee !important;
}

#social.colors {
	top: 50%;
}
#social.colors svg {
	background: #fff;
}
#social.colors svg:hover {
	background: #ddd;
}
#social.colors a:nth-child(1) path {
	fill: #0084b4 !important;
}
#social.colors a:nth-child(2) path {
	fill: #DD4D40 !important;
}

#social.work {
	top: 100%;
	transform: translateY(-120%);
}

/*
================================================================================================================================
||                                                                                                                            ||
||                                                    G R E E T I N G                                                         ||
||                                                                                                                            ||
================================================================================================================================
*/
#greeting {
	z-index: 1;
	height: 100vh;
	top: 0;
	width: 100%;
	padding: 0;
	margin: 0 0 -100vh;
	background: linear-gradient(to left, #457fca , #5691c8);
	box-shadow: 0px 3px 6px rgba(0,0,0,0.25);
	transition: transform .5s;
}

#greeting.scrolledUp {
	transform: translateY(-100%) translateZ(0);
	transition: all 1s;
}

#greeting:before {
  position: absolute;
  content:"";
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-image: url('../images/GreetingBackground.svg');
  background-size: cover;
}

#greeting  h1 {
	display: inline-block;
	margin: 0;
	padding: 8px 10px 10px;
	color: #fff;
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
	text-align: center;
    font-size: 3.5rem;
    line-height: 1.1;
}

#greeting span {
	bottom: 75vh;
}

#greeting img {
	display: inline-block;
	position: absolute;	
	bottom: 0;
	height: 3.5rem;
	width: 3.5rem;
	margin-bottom: 4vh;
	left: 50%;
	line-height: 1;
	background: white;
	transform: translateZ(0) translateX(-50%) scale(0);
	border-radius: 50%;
	text-align: center;
	transition: box-shadow 0.25s;
	text-decoration: none;
	cursor: pointer;
	padding: .25rem;
}

.popping {animation: popping 1s linear .5s infinite; transition: box-shadow 0.25s;}

@keyframes popping {
    0% {box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); transform: translateZ(0) translateX(-50%) scale(1)}
    25% {box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); transform: translateZ(0) translateX(-50%) scale(0.95)}
    75% {box-shadow: 0 6px 12px rgba(0, 0, 0, 0.5); transform: translateZ(0) translateX(-50%) scale(1.05)}
    100% {box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5); transform: translateZ(0) translateX(-50%) scale(1)}
}

#greeting a>i {
	color: rgba(46,82,121,1);
	padding: 0;
	bottom: 0;
	line-height: 1;
	vertical-align: baseline;
}


#greetingHideTrigger {
	position: absolute;
	top: 20vh;
}



/*
================================================================================================================================
||                                                                                                                            ||
||                                                       A B O U T                                                            ||
||                                                                                                                            ||
================================================================================================================================
*/
#about {
	width: 100%;
	min-height: 75vh;
	background-color: #f5f5f5;
	padding: 20px 0 0;
	z-index: 0;
	overflow: hidden auto;
}


#about>div.container {
  max-width: 100%;
  overflow: auto;
}

#about h2 {
    padding-top: 2.5rem;
}

#about h2 span {
	border-bottom: 1px solid #aaa;
	color: #4D88C9;
    font-size: 3.5rem;
    line-height: 1.1;
}

#about p {
	font-size: 1.4em;
	line-height: 1.5;
	display: inline-block;
	padding: 20px 0 40px;
	margin: 0 0 1rem;
}

#about>div>div {
	display: inline-block;
	text-align: center;
	float: right;
}

#about img {
	max-width: 80%;
	margin-bottom: 20px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16),
				0 3px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
}

@media (min-width: 768px) {
	#about {
		padding: 50px 0 0;
	}

	#about>div>p, #about>div>div {
	-webkit-box-flex: 0;
	-webkit-flex: 0 0 50%;
	    -ms-flex: 0 0 50%;
	        flex: 0 0 50%;
	max-width: 50%;
	}
}

@keyframes pulsing {
    0% {transform: scale(1);}
    50% {transform: scale(1.05);}
    100% {transform: scale(1);}
}

.aboutRellax {
	z-index: -1;
	position: absolute;
	display: inline-block;
}

.aboutRellax:before {
	content: "";
	font-size: 0;
	display: inline-block;
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	background: #ddd;
}
.aboutRellax:nth-child(1) {
	top: -50vh;
	left: 70vw;
}
.aboutRellax:nth-child(1):before {
	width: 10vw;
	height: 10vw;
	background: #fff;
}
.aboutRellax:nth-child(2) {
	top: 0;
	left: 0;
}
.aboutRellax:nth-child(2):before {
	width: 12.5vw;
	height: 12.5vw;
	background: #fff;
}
.aboutRellax:nth-child(3) {
	top: 0vh;
	left: 30vw;
}
.aboutRellax:nth-child(3):before {
	width: 35vw;
	height: 35vw;
	background: #eee;
}
.aboutRellax:nth-child(4) {
	top: 60vh;
	left: 70vw;
}
.aboutRellax:nth-child(4):before {
	width: 30vw;
	height: 30vw;
	background: #d6d6d6;
}
.aboutRellax:nth-child(5) {
	top: 110vh;
	left: 20vw;
}
.aboutRellax:nth-child(5):before {
	width: 7.5vw;
	height: 7.5vw;
}


#workShowTrigger {
	position: absolute;
}
/* Stop the rare occasion where the user scrolls quicker than the javascript can position the trigger */
#workShowTrigger.positioned {
	bottom: 66vh;
}
#workPinTrigger {
	position: absolute;
	bottom: 0;
}



/*
================================================================================================================================
||                                                                                                                            ||
||                                                        W O R K                                                             ||
||                                                                                                                            ||
================================================================================================================================
*/
#work {
	width: 100%;
	min-height: 100vh;
	background: #444;
	transform: translateX(-100%);
	transition: transform 0.5s;
	z-index: 3;
	overflow-x: hidden;
	overflow-y: auto;
}

#work.show {
	left: 0;
	transform: translateX(0);
}

#work h2 {
	color: #f5f5f5;
	border-bottom: 1px solid #4D88C9;
	white-space:nowrap;
	margin: 30px auto;
}

#workProgress {
	height: 2px;
	width: 0%;
	background: #fff;
}
#workProgress.stage1 {
	background: #d9534f;
}
#workProgress.stage2 {
	background: #5bc0de;
}
#workProgress.stage3 {
	background: #5cb85c;
}

#slidesContainer {
	position: relative;
	height: 10vh;
	min-width: 300%;
	transform: translateZ(0) translateX(40%);
	transition: transform .5s ease-in;
   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}

#slidesContainer>section {
	display: inline-block;
	position: relative;
	max-height: 100%;
	height: 100%;
	width: 33.33333333%;
	float: right;
	top: 0;
	transition: box-shadow .1s, transform .2s;
	box-shadow: inset 0 5px 20px rgba(0,0,0,0.6);
	overflow: hidden;
}
.slide:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: rgba(0,0,0,0.6);
	transition: background .2s;
}
.slide #background {
	position: absolute;
	background-position: center top;
 	background-size: cover;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: transform .2s;
	z-index: -1;
}

.slide:hover {
	box-shadow: inset 0 0 5px black;
}
.slide:hover:before {
	background: rgba(0,0,0,0.5);
}
.slide:hover #background {
	transform: scale(1.1);
}


#slidesContainer.work1 {
	transform: translateZ(0) translateX(0);
}

#slidesContainer.work2 {
	transform: translateZ(0) translateX(-33.33333333%);
}

#slidesContainer.work3 {
	transform: translateZ(0) translateX(-66.66666667%);
}

#slidesContainer .container {
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
}

.slide h3 {
	display: inline-block;
	margin: 0 0 .5rem;
	line-height: 1.1;
	color: #fff;
}

.slide .line {
	display: inline-block;
	background: white;
	height: 1px;
	width: 100%;
	margin: 10px auto 20px;
}

.slide:nth-child(1) .button {
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
}
.slide:nth-child(2) .button {
    color: #fff;
    background-color: #5bc0de;
    border-color: #5bc0de;
}
.slide:nth-child(3) .button {
	color: #fff;
    background-color: #d9534f;
    border-color: #d9534f;
}


#CDMAwards {
	display: flex;
	flex-direction: column;
	-ms-align-items: flex-end;
	align-items: flex-end;
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
}

#CDMAwards div {
	height: 25%;
	max-height: 15vw;
}

#CDMAwards img {
	max-height: 100%;
	max-width: 15vw;

}



/*
================================================================================================================================
||                                                                                                                            ||
||                                                A C H I E V E M E N T S                                                     ||
||                                                                                                                            ||
================================================================================================================================
*/
#achievements {
	min-height: 100vh;
	overflow: auto;
	padding-top: 2.5rem;
	background: #ECE9E6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to left, #ECE9E6 , #FFFFFF); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to left, #ECE9E6 , #FFFFFF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#achievements h2 {
	font-size: 3.5rem;
	text-align: center;
}
#achievements h2 span {
	border-bottom: 1px solid #4D88C9;
}

@media (max-width: 768px) {
	#achievements h2 {
		font-size: 3rem;
	}
}

#achievements ul {
	padding: 0;
}

#achievements li {
	font-size: 1.5rem;
	list-style: none;
	padding: 15px 0;
	border-top: 1px solid #ccc;
}
@media (max-width: 768px) {
	#achievements li {
		font-size: 1.1rem;
	}
}

#achievements li:nth-child(1) {
	border-top: none;
}

#achievements li:before {
    content: "-"; /* Insert content that looks like bullets */
	color: #4D88C9; /* Or a color you prefer */
}

#achievements img {
	display: block;
	width: 70%;
	margin: 40px auto;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16),
				0 3px 6px rgba(0,0,0,0.23);
	border-radius: 5px;
}

@media (max-width: 768px) {
	#achievements img {
		width: 90%;
	}
}

/*
================================================================================================================================
||                                                                                                                            ||
||                                                     C O N T A C T                                                             ||
||                                                                                                                            ||
================================================================================================================================
*/
#contact {
	text-align: center;
	color: #fff;
	background: linear-gradient(to left, #232526 , #414345); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	overflow: auto;
	padding: 30px 0;
}

#contact h2 {
	font-size: 2.5rem;
}

form {
	max-width: 600px;
	text-align: center;
	margin: 20px auto;
}
form input, form textarea {
	border: 0;
	outline: 0;
	padding: 1rem;
	border-radius: 8px;
	display: block;
	width: 100%;
	margin-top: 1rem;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	resize: none;
}
form input:focus, form textarea:focus {
	box-shadow: 0 0px 2px #4D88C9 !important;
}
form input[type=submit] {
	color: white;
	background: #4D88C9;
	cursor: pointer;
}
form input[type=submit]:hover {
	box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
form textarea {
	height: 126px;
}

form>div {
	float: left;
	margin-bottom: 1em;
	width: 49%;
}

form>div:nth-child(1) {
	margin-right: 2%;
}

@media (max-width: 600px) {
	form>div:nth-child(n) {
		width: 100%;
		float: none;
		margin-bottom: 0;
	}
}